.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  background: #131921;
  z-index: 100;
  position: sticky;
  top: 0;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.search__container {
  display: flex;
  flex: 1;
}
.header__searchInput {
  width: 100%;
  height: 35px;
  text-align: center;
  border: none;
  flex: 1;
}

.search__container > button {
  background: rgb(209, 152, 87);
  color: #fff;
  padding: 4px;
}
.logo {
  font-size: 1.5rem;
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1px;
  margin: 10px 20px 20px 15px;
  color: #fff;
}

.header_right {
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 4px;
  flex-direction: column;
}

/* login */

.login {
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 2px solid lightgray;
  justify-content: center;
  margin: 30px;
  border-color: rgb(194, 89, 129);
}

.login .login__header {
  text-align: center;
  background: linear-gradient(to top, #ffe838,#324ab6, #8b8989);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login__form {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.login__form > input {
  padding: 5px;
  margin: 10px;
}

.login__form > button {
  font-weight: 600;
  margin: 0 auto;
  width: 100%;
  background: rgb(222, 236, 97);
  text-align: center;
}

.login__form > button:hover {
  background: rgb(135, 240, 135);
}

.signUp_login {
  text-align: center;
  background: linear-gradient(to top, #ad4b60,#324ab6, #f74444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  opacity: 1;
  font-size: 1.2rem;
  font-weight: 400;
}
.signUp_login>a{
    font-weight: 600;
}


/* Recipe */
.recipe{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px auto;
}

.recipe__image{
    transition-duration: .2s;
    border-radius: 10px;
    box-shadow:2px 15px 10px 2px rgb(182, 168, 168);
    transition-property: transform;
    object-fit: contain;
    margin: 0 auto;

}
.recipe__image:hover{
    margin: 0 auto;
    transform:scale(1.1) ;
    border: 2px solid #808080;
}

.recipe>h3{
    margin: 20px auto;
    opacity: .7;
}
.recipe>p{
    text-align: start;
    margin: 1rem auto;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;

}
.recipe >p:last-child{
    border-top: none;
}

.recipe >p >li{
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
    list-style: circle;
}
.recipe p>b{
    font-size: 2rem;
    text-align: start;
}

.email_display{
  font-size: .5rem;
}
@media (min-width:1024px){
  .login{
    margin: 3rem 14rem;
  }
}